In [60]:
ls

 驱动器 C 中的卷没有标签。
 卷的序列号是 5E89-17F7

 C:\Users\frc\RCContest\Training_Set 的目录

2016/03/13  12:05    <DIR>          .
2016/03/13  12:05    <DIR>          ..
2016/02/23  10:34        18,962,271 PPD_LogInfo_3_1_Training_Set.csv
2016/03/02  11:10        20,322,725 PPD_Training_Master_GBK_3_1_Training_Set.csv
2016/02/23  10:35        15,323,941 PPD_Userupdate_Info_3_1_Training_Set.csv
               3 个文件     54,608,937 字节
               2 个目录  3,568,619,520 可用字节

In [6]:
import numpy as np
from pandas import Series,DataFrame
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [9]:
train=pd.read_csv('PPD_Training_Master_GBK_3_1_Training_Set.csv',encoding='gbk')

In [12]:
train.head()

,Idx,UserInfo_1,UserInfo_2,UserInfo_3,UserInfo_4,WeblogInfo_1,WeblogInfo_2,WeblogInfo_3,WeblogInfo_4,WeblogInfo_5,...,SocialNetwork_10,SocialNetwork_11,SocialNetwork_12,SocialNetwork_13,SocialNetwork_14,SocialNetwork_15,SocialNetwork_16,SocialNetwork_17,target,ListingInfo
0,10001,1,深圳,4,深圳,NaN,1,NaN,1,1,...,222,-1,0,0,0,0,0,1,0,2014/3/5
1,10002,1,温州,4,温州,NaN,0,NaN,1,1,...,1,-1,0,0,0,0,0,2,0,2014/2/26
2,10003,1,宜昌,3,宜昌,NaN,0,NaN,2,2,...,-1,-1,-1,1,0,0,0,0,0,2014/2/28
3,10006,4,南平,1,南平,NaN,NaN,NaN,NaN,NaN,...,-1,-1,-1,0,0,0,0,0,0,2014/2/25
4,10007,5,辽阳,1,辽阳,NaN,0,NaN,1,1,...,-1,-1,-1,0,0,0,0,0,0,2014/2/27

In [18]:
train=train.replace(-1,np.NaN)

In [53]:
train.head()

,Idx,UserInfo_1,UserInfo_2,UserInfo_3,UserInfo_4,WeblogInfo_1,WeblogInfo_2,WeblogInfo_3,WeblogInfo_4,WeblogInfo_5,...,SocialNetwork_10,SocialNetwork_11,SocialNetwork_12,SocialNetwork_13,SocialNetwork_14,SocialNetwork_15,SocialNetwork_16,SocialNetwork_17,target,ListingInfo
1,10001,1,深圳,4,深圳,NaN,1,NaN,1,1,...,222,NaN,0,0,0,0,0,1,0,2014/3/5
2,10002,1,温州,4,温州,NaN,0,NaN,1,1,...,1,NaN,0,0,0,0,0,2,0,2014/2/26
3,10003,1,宜昌,3,宜昌,NaN,0,NaN,2,2,...,NaN,NaN,NaN,1,0,0,0,0,0,2014/2/28
4,10006,4,南平,1,南平,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0,0,0,0,0,0,2014/2/25
5,10007,5,辽阳,1,辽阳,NaN,0,NaN,1,1,...,NaN,NaN,NaN,0,0,0,0,0,0,2014/2/27

In [27]:
columns_type=pd.read_csv('columns_type.csv',encoding='gbk')

In [29]:
len(columns_type.index)

228

In [52]:
train.ix[0]=np.array(columns_type['variable_type'])

In [49]:
len(columns_type['variable_type'])

228

In [44]:
columns_type.head()

  variable_name variable_type
0           Idx         Index
1    UserInfo_1   Categorical
2    UserInfo_2   Categorical
3    UserInfo_3   Categorical
4    UserInfo_4   Categorical

In [40]:
len(train.index)

30001

In [55]:
train=train.sort_index()

In [66]:
train.to_csv('raw_data.csv',encoding='gbk')

In [65]:
cd ..

C:\Users\frc\RCContest